{
    "uid":"229778960",
    "delay":"30",
    "logsave":"",
    "mailhost":"smtp.qq.com",
    "mailuser":"10000@qq.com",
    "mailpass":"abcdef",
    "sender":"10000@qq.com",
    "receiver":"10001@qq.com",
    "from":"粉丝变化通报",
    "to":"shoyu"
}
